<section class="about">
	
	<div class="container">
		<h3 id="about">About &nbsp; Myself</h3>

		<div class="face-lockup">
			<img class="face-img" src="assets/img/nishan.jpg">
		</div>

		<div class="history">
			<p class="lead"><mark>Hi, I'm Nishan.<mark></p>
			<p>(`-`)</p>
			<p>Student. Foodie. Traveller. Dreamer.</p>
			<p>Currently I am studying at Jawaharlal Nehru Technological University Anantapur<a href="http://jntua.ac.in/">(JNTUA)</a> in Computer Science & Engineering.</p>
			
		</div>
	</div>
	
</section>