<section class="container about">
	
	<h3>About Myself</h3>

	<div class="face-lockup">
		<img class="face-img" src="assets/img/nishan.jpg">
	</div>

	<div class="history">
		<p class="lead"><mark>Hi, I'm Nishan.<mark></p>
		<p>(`-`)</p>
		<p>Student. Foodie. Traveller. Dreamer.</p>
		<p>Currently I am studying at Jawaharlal Nehru Technological University Anantapur<a href="http://jntua.ac.in/">(JNTUA)</a> in Computer Science & Engineering.</p>
	</div>

	<h3>Skills I Have</h3>

	<div class="skill-lockup">

		<div class="skill-unit">
			<div class="skill-label">C</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Java</div>
			<div class="skill-icons skill-5">
				<span></span><span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Python</div>
			<div class="skill-icons skill-4">
				<span></span><span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">PHP</div>
			<div class="skill-icons skill-5">
				<span></span><span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Web Development</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Communication</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

	</div>
</section>