<section class="content container" style="padding:20px;">

    <div id="itemOne">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#one" aria-expanded="true"
            aria-controls="one">
            <h4 class="list"> &nbsp;>&nbsp; Start With CakePHP</h4>
        </button>
        <div id="one" class="collapse show" style="background:#fff;">
            <div class="card-body">
                Coming soon
            </div>
        </div>
    </div>


</section>