---
title: Azmain Islam
---

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.css">
    <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico" style="border-radius: 50px" />

    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/menu.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/blog.css">



    <title>{{ page.title }}</title>
</head>

<body>
    <div id="blog">
        {{ content }}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{{ site.url }}/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/function.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/typed.js"></script>

    <script>
        $(document).ready(function () {
            console.log("hi");


        });
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>

</html>