<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include post-menu.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Floating Buttons(start) -->
    <a href="#header" class="float" style="position:fixed; width:50px; height:50px;
                                    bottom:40px; right:40px; background-color:#0C9;
	                                color:#FFF; border-radius:40px; text-align:center;
	                                box-shadow: 2px 2px 3px #999;"
                                >
        <i class="fa fa-arrow-up my-float" style="margin-top:18px;"></i>
    </a>

    <a href="{{ site.url }}/blog" class="float" style="position:fixed; width:50px; height:50px;
                                    bottom:100px; right:40px; background-color:#0C9;
	                                color:#FFF; border-radius:40px; text-align:center;
	                                box-shadow: 2px 2px 3px #999;"
                                >
        <i class="fa fa-arrow-left my-float" style="margin-top:18px;"></i>
    </a>
    <!-- Floating Buttons(end) -->

  </body>
  <script>
        $(document).ready(function () {
            console.log("hi");


        });
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</html>